@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Mooli';
	
}

/* Use T15.html file */

h3{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}

.container{
	width: 80%;
	margin: auto;
	border: 1px solid #f0f0f0;
	height: 1000px;
}

.nav{
	float: right;
	display: inline-block;
}

.nav-item{
	list-style-type: none;
	display: inline-block;
}

.nav-bar{
	width: 100%;
	margin-bottom: 30px;
}
/*
a{ 
	padding: 20px;
}

a:link{
	color: blue;
	text-decoration: none ;
}

a:visited{
	color: red;
}

a:hover{
	background-color: yellow;

}

a:active{
	background-color: green;
}*/

p:nth-child(4n){
	background-color: green;
	color: #fff;
	padding:20px;
}

p:first-child{
	background-color: red;
	color: #fff;
	padding:20px;
}

:target {
  border: 2px solid black;
  padding: 30px;
  background-color: yellow;
}

:required{
	border:1px solid red;
}

.pad-2{
	padding: 10px 10px;
}

:checked{
	background-color: yellow;
}


::selection{
		background-color: black;
		color: #fff;
}

a {
  color: #0000ff;
  text-decoration: none;
}

p::before {
  content: "==>";
}

.local-link::before {
  content: url('../../media/examples/firefox-logo.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
