@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Mooli';
	
}

/* Use T17.html file */


.container{
		display: 	flex;
		background-color: 	red;
		flex-wrap:wrap-reverse;
		height: 800px;
		/*		justify-content: space-between;*/
		/*		align-content: space-around;*/
		/*		align-item: space-around;*/

}


.container	> div{
		padding:100px;
		background-color: 	black	;
		color: 	#fff;
		border: 	1px solid gray;
		width: 300px;
		height: 100px;

}


/*
align-content

align-items

flex-direction


flex-warp

jutify

flex-flow*/










